.score {
    width: 600px;
    height: 130px;
    color: gray;
    padding: 15px 0;
    margin: 50px auto;
    border-radius: 5px;
    text-align: center;
    background-image: linear-gradient(150deg, rgb(90, 223, 216), rgb(64, 233, 177));
}

.score p {
    font-size: 25px;
    font-weight: bolder;
}

.score span {
    color: rgb(8, 97, 92);
}
